<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>게시판 페이지</title>
</head>
<body>
  <header id="header"></header>

  <main>
    <header>
      <h1>첫번째 글</h1>
    </header>
    <aside>
      <p>Johnny</p>
      <p><a href="mailto:johnny@gmail.com">johnny@gmail.com</a></p>
      <p><time datetime="2024-01-01T00:00:00">2024=01-01</time></p>
      <p>#Java</p>
    </aside>
    <section>
      <p>본문<br><br></p>

      <div>
        <form>
          <label for="articleComment" hidden>댓글</label>
          <textarea id="articleComment" placeholder="댓글 작성.." rows="3"></textarea>
          <button type="submit">작성</button>
        </form>

        <ul>
          <li>
            <div>
              <time><small>2024-01-01</small></time>
              <strong>Johnny</strong>
              <p>
                hi, hi
              </p>
            </div>
          </li>
          <li>
            <div>
              <time><small>2024-01-01</small></time>
              <strong>Johnny</strong>
              <p>
                hi, hi
              </p>
            </div>
          </li>
        </ul>
      </div>

      <nav>
        <a href="#"> previous</a>
        <a href="#"> next</a>
      </nav>
    </section>
  </main>

  <footer id="footer"></footer>



</body>
</html>